/* CSS */
html{background-image: url("https://img.freepik.com/free-photo/ai-technology-brain-background-digital-transformation-concept_53876-124672.jpg?w=900&t=st=1675445962~exp=1675446562~hmac=0cbd0bd138031d7e30d16fffca9eab437a0f219c829c25f6d3f1c394ed512738");}
.buttons{
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;

}
h1{
  color: white;
}
.buttons:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.buttons:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.buttons:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
.box {
  background-image: url("https://wallpaperaccess.com/full/1428481.jpg");
  float: left;
  padding: 1.5em 1em;
  width: 25%;
  height: auto;
  border-top: .1em solid $lightGrey;
  border-bottom: .1em solid $lightGrey;
  border-left: .1em solid $lightGrey;
  @include transition(background);
  &:focus,
  &:hover {background: #f5f5f5;}
  font-family: 'Brush Script MT', cursive;
h1 {font-size: 2em;}
p {font-size: 1.25em;}
}
.box:last-child {border-right: .1em solid $lightGrey;}
.box h1 {
  text-align: center;
  color: white;
}
.box p {
  margin-top: 4em;
  height: 6em;
  text-align: justify;
  color:white;
}
section {margin: 1em 0;}
hr {
  border-color: $lightGrey;
  border-style: dashed;
  color:;
}
.box{border-style: outset;
margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 30px;
  margin-left: 30px;
  background-color: rgb(247,202,201);
}
.box:hover{box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);}
  .heading{font-size: 90px;
          text-align: center;
      }
      .buttons{
        margin-left:25px;
      }
      a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: black;
  background-color: transparent;
  text-decoration: none;
}




@keyframes Gradient {
  50% {
    background-position: 140% 50%;
    transform: skew(-2deg);
  }
}

@media screen and (max-width: 640px) {
  html{background: black;}
  .header {
    display: flex;
    flex-direction: column;
  }
  .buttons{
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 30px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 30px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 10px;
  margin-top: 40px;
  z-index: 3;
  }
  .box {
  float: left;
  padding: 1.5em 1em;
  width: 50%;
  height: auto;
  border-top: .1em solid $lightGrey;
  border-bottom: .1em solid $lightGrey;
  border-left: .1em solid $lightGrey;
  margin-left: 3rem;
  @include transition(background);
  &:focus,
  &:hover {background: #f5f5f5;}
  font-family: 'Brush Script MT', cursive;
h1 {font-size: 2em;}
p {font-size: 1.25em;}
}
.heading{
  font-size: 40px;
}
}

